body {
  padding: 10px;
  font-family: sans-serif;
}

#login-dropdown-list{
  left: -115px;
}

.login-link-text {
  text-decoration: none !important;
  color: #000;
  font-size: 20px;
}

.aside-container{
  border: 1px solid #757575;
}

.categories{
font-size: 25px;
margin-left: 15px;
}

.categoriesBox{
  border-bottom: 1px solid #757575;
}

.categoriesBox:last-child{
  border-bottom:none;
}

.categories a{
  text-decoration: none;
  color: #000;
}

.textarea{
  resize: none;
}

.images{
  width: 100%;
   height: auto;
}
.starImg{
  width:5%;
  height: auto;
}

.reviewHead{
  font-size: 40px;
}

.reviewText{
  margin-left: 10px;
}

.avrRating{
  font-size: 30px;
}