<template name='aside'>
    <h2>Product categories</h2>
    <div class="aside-container">
        {{#each allCategories}}
        <div class="categoriesBox">
            <p class="categories">
                <a href="/category/{{_id}}">{{name}}
                </a>
                </p> 
        </div>
        {{/each}}
    </div>
</template>