<template name='footer'>
    <br>
    <footer class="bg-dark text-center text-lg-start">
        <div class="text-center p-3 text-light">
          © 2021 Copyright: Kanan
        </div>
      </footer>
</template>