<template name="home">
    {{#if compare getRouterName '==' "home"}}
        {{#each allProducts}}
        <div class="card mb-3">
            <div class="row g-0">
            <div class="col-md-4">
                <img class="images" src="{{getImage}}" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">{{description}}</p>
                <div class="d-flex">
                    <span>Average Rating:</span>
                    {{#each avrGoldStar}}
                            <img class="starImg" src="/images/goldstar.png" alt="Image Here">
                            {{/each}}
                            {{#each avrWhiteStar}}
                            <img class="starImg" src="/images/star.png" alt="Image Here">
                            {{/each}}
                    <span>({{getRevCount}})</span>
                </div>
                <br>

                <div class="d-flex">
                    <a class="btn btn-secondary" href="/reviews/{{_id}}">Read Reviews</a>
                    {{#if loggedIn}}
                        <a class="btn btn-primary mx-2" href="/addReview/{{_id}}">Add Review</a>
                    {{/if}}
                </div>
                </div>
            </div>
            </div>
        </div>
        {{/each}}

        {{else}}

        {{#each featuredPro}}
        <div class="card mb-3">
            <div class="row g-0">
            <div class="col-md-4">
                <img class="images" src="{{getImage}}" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">{{description}}</p>
                <div class="d-flex">
                    <span>Average Rating:</span>
                    {{#each avrGoldStar}}
                            <img class="starImg" src="/images/goldstar.png" alt="Image Here">
                            {{/each}}
                            {{#each avrWhiteStar}}
                            <img class="starImg" src="/images/star.png" alt="Image Here">
                            {{/each}}

                    <span>({{getRevCount}})</span>
                </div>
                <br>

                <div class="d-flex">
                    <a class="btn btn-secondary" href="/reviews/{{_id}}">Read Reviews</a>
                    {{#if loggedIn}}
                    <a class="btn btn-primary mx-2" href="/addReview/{{_id}}">Add Review</a>
                    {{/if}}
                </div>
                </div>
            </div>
            </div>
        </div>

        {{/each}}

    {{/if}}

</template>
