<template name="addProduct">

  <form name="addProductForm" id="addProductForm">
    <div class="form-group">
      <label for="name" class="form-label">Name</label>
      <input type="text" id="name" name="name" class="form-control" required>
    </div>
    <br>
    <div class="form-group">
      <label for="">Categories</label>
      <select class="form-select" id="categoryId" name="categoryId" aria-label="Default select example" required>
        <option selected>Select Category</option>
        {{#each allCategories}}
        <option value="{{_id}}">{{name}}</option>
        {{/each}}
      </select>
    </div>
    <br>
    <div class="form-group mb-3">
      <label for="">Product Image</label>
      <input type="file" class="form-control" id="myFile" required>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="textarea form-control" id="description" name="description" cols="50" rows="10" required></textarea>
    </div>

    <div class="form-group my-3">
      <label> Featured : </label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="featured" id="yes" checked value="true">
        <label class="form-check-label" for="inlineRadio1">Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="featured" id="no" value="">
        <label class="form-check-label" for="inlineRadio2">No</label>
      </div>
    </div>
    
    <div class="form-group">
      <button class="btn btn-success" type="submit">Add Product</button>
      <a href="/" class="btn btn-danger">Cancel</a>
    </div>

  </form>
    

<!-- 
    {{#with imageFile.with}}
    <img src="{{link}}" alt="{{name}}" />
    {{else}}
    Loading Image...
    {{/with}} -->
</template>