<template name="reviews">
  {{#with getProduct}}
    <div class="card mb-3">
        <img
          src="{{getImage}}"
          class="card-img-top"
          alt="..."
        />
        
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">
            {{description}}
          </p>
          
        </div>
      </div>

      {{/with}}

      <div class="d-flex justify-content-end">
      {{#with getProduct}}
        <a href="/addReview/{{_id}}" class="btn btn-success">Leave a Review</a>
      {{/with}}
    </div>

    <h1>Rating and Raving</h1>
    <div class="d-flex">
      <span class="avrRating">Average Rating:</span>
      {{#each star in avrGoldStar}}
      <img src="/images/goldstar.png" class="starImg" alt="">
      {{/each}}
      {{#each star in avrWhiteStar}}
      <img src="/images/star.png" class="starImg" alt="">
      {{/each}}
      <span class="avrRating">({{getRevCount}})</span>
      
        
  </div>
      {{#each allReviews}}
      <div class="d-flex p-3 justify-content-between">
        <div class="d-flex align-items-center col-sm-8">
      {{#each star in goldStar}}
      <img src="/images/goldstar.png" class="starImg" alt="">
      {{/each}}
      {{#each star in whiteStar}}
      <img src="/images/star.png" class="starImg" alt="">
      {{/each}}
      <span class="reviewText">{{reviewText}}</span>
    </div>
      
    <span class="col-sm-2">{{dateTime}}</span>

  </div>
      {{/each}}



</template>