<template name="addReview">
  <form id="addReviewForm" name="">

  <div class="mb-3 form-group">
          <p class="reviewHead">Add A Review For <b>
            {{#with getProduct}}
              {{name}}
            {{/with}}
          </b></p>
          <label for="" class="form-label"><b>Rating</b></label>
      <select class="form-select" id="rating">
          <option value="1" selected>1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
    </div>
    <div class="mb-3 form-group">
      <label for="review" class="form-label"><b> Review</b></label>
      <textarea class="form-control" id="review" rows="3"></textarea>
    </div>

    <div class="form-group">
      <button class="btn btn-success" type="submit">Add Review</button>
      <a href="/" class="btn btn-danger">Cancel</a>
    </div>
  </form>
</template>